body{
    /* background-color: #e8e8e8; */
}
.details-main{
    transition: margin-top .3s cubic-bezier(.4,0,.2,1);
    font-size: .875rem;
    -webkit-text-size-adjust: none;
  
}
.details-main1{

}
.details-content{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-bottom: 4.375rem;
}
.details-content1{
    margin-top: 1.25rem;
    height: 1rem;
    display: flex;
    white-space: nowrap;
    align-items: center;
}
.details-content2{
    padding: 0;
    margin-top: 1.25rem;
    display: flex;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}
.details-content1-1{
    text-decoration: none;
    font-size: .8125rem;
    color: #05a;
    white-space: nowrap;
}
.details-content1-2{
    font-size: .625rem;
    margin: 0 5px;
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
.details-content1-3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .975rem;
}
.details-content2-text{
    margin: 0;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    z-index: -1000;
    font-size: 2rem;
}
.details-content2-img{
    width: 450px;
    padding: 15px;
    flex-shrink: 0;
}
.details-content2-pro{
    flex: 1 0 auto;
    width: 0;
    display: flex;

}
.details-img{
    display: flex;
    flex-direction: column;
}
.details-img1{
position: relative;
}
.details-img1-1{
position: relative;
}
.details-img1-1-1{

}
.details-img1-1-2{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}
.details-img1-1-2-1{
    display: block;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.details-img2{

}
.details-like{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
}
.details-share{
    padding: 0 30px;
    display: flex;
    align-items: center;
}
.details-love{
    border-left: 1px solid rgba(0,0,0,.09);
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}
.details-love1{
    position: relative;
    overflow: visible;
    outline: 0;
    background-color: initial;
    border: 0;
    display: flex;
    cursor: pointer;
}
.details-love1-1{
    font-size: 16px;
    color: #222;font-size: 18px;
}
.details-content2-pro-content{
    width: 100%;
    box-sizing: border-box;
    padding: 1.25rem 2.1875rem 0 1.25rem;
    flex: 1 1 auto;
}
.details-pro-content1{
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 500;
    margin: 0;
    vertical-align: sub;
    max-height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
    max-width: 41.5625rem;
    font-size: 1.25rem;
    overflow-wrap: break-word;
}
.details-pro-content1-1{
    font-size: .75rem;
    vertical-align: middle;
    position: relative;
    margin-right: 10px;
    border-radius: 2px;
    display: inline-flex;
    transform: translateY(-.125rem);
    align-items: center;
    padding: .1875rem .25rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    user-select: none;
    background-color: #ee4d2d;
}
.details-pro-content1-2{
    font-size: 1.25rem;
    overflow-wrap: break-word;
    font-weight: 500;
    line-height: 1.5rem;
}
.details-pro-content2{
    margin-top: .625rem;
    position: relative;
    display: flex;
}
.details-pro-content2-button1{

}
.details-pro-content2-button2{
    background-color: initial;
    border: 0;
    cursor: pointer;
    align-items: center;
    padding: 0 15px;
    display: flex;
}
.details-pro-content2-button2:not(:first-child){
    border-left: 1px solid rgba(0,0,0,.14);
}
    .details-pro-content2-button2-1{
        font-size: 1rem;
        color: #222;
        margin-right: 5px;
        padding-bottom: 1px;
        border-bottom: 1px solid #555;
    }
    .details-pro-content2-button2-2{
        font-size: .875rem;
        color: #767676;
        text-transform: capitalize;
        padding: 4px 0;
        margin-right: 5px;
    }


.details-pro-content2-div{
    align-items: center;
    padding: 0 15px;
    display: flex;
}
/* Có gạch mờ ở giữa 2 phần tử */
.details-pro-content2-div:not(:first-child){
    border-left: 1px solid rgba(0,0,0,.14);
}
    .details-pro-content2-div1{
        font-size: 1rem;
        color: #222;
        margin-right: 5px;
        padding-bottom: 1px;
    }
.details-pro-content2-button3{
    border: unset;
    background: none;
    color: rgba(0,0,0,.54);
    font-size: 14px;
    margin-left: auto;
}
.details-pro-content5-button1{
    flex-direction: row;
    position: relative;
    overflow: visible;
    outline: 0;
    background: rgba(255,87,34,0.1);
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    max-width: 250px;
    height: 48px;
    padding: 0 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.details-pro-content5-button2{
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
    height: 48px;
    padding: 0 50px;
    max-width: 250px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    margin-left: 15px;
}