.shopee-search-item-result__items{
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shopee-search-item-result__item{
    margin: .3125rem 0;
    flex-basis: 20%;
    max-width: 20%;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: .3125rem;
    padding-left: .3125rem;
}
.tWpFe2{
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
}
.tWpFe2.VTjd7p {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
    border-radius: .125rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    overflow: visible;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0;
    transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1);
}
.tWpFe2.whIxGK{
    overflow: visible;
    border: 1px solid transparent;
}
.KUUypF {
    width: 100%;
    padding-top: 100%;
}
._7YC893  {
    position: relative;
}
._7YC893 img{
    vertical-align: bottom;
}
._7DTxhh {
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    position: absolute;
    width: 100%;
}
.tWoeMk{
    opacity: 1;
    transition: opacity .2s ease;
}
.aLgMTQ{
    position: absolute;
    left: 0;
    top: .625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    max-width: 70%;
}
.sKFCYs.sKFCYs {
    padding: 0 .25rem;
    height: auto!important;
}
.sKFCYs {
    text-align: center;
}
.YeGYFd {
    position: relative;
    display: flex;
    align-items: center;
    height: .9375rem;
    font-size: .5625rem;
    line-height: .6875rem;
    font-weight: 500;
    padding: 0 4px;
    border-top-right-radius: .125rem;
    border-bottom-right-radius: .125rem;
    background: currentColor;
    left: -.1875rem;
}
.YeGYFd:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -.1875rem;
    border-top: .1875rem solid;
    border-left: .1875rem solid transparent;
    filter: brightness(60%);
}
.sKFCYs .ICOSOm {
    color: #fff;
    font-size: .75rem;
    line-height: .875rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.GOgNtl {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.WVxeBE {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-weight: 400;
    line-height: .8125rem;
    color: #ee4d2d;
    text-transform: uppercase;
    font-size: .75rem;
}
._3NQO\+7 {
    width: 36px;
    height: 32px;
}
.NTmuqd {
    box-sizing: border-box;
    padding: 4px 2px 3px;
    font-weight: 700;
    background-color: rgba(255,212,36,.9);
}
.NTmuqd:after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255,212,36,.9);
    border-style: solid;
    border-width: 0 18px 4px;
}
.IpGwg7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.IpGwg7 .customized-overlay-image img {
    width: 100%;
}
.KMyn8J {
    padding: .5rem;
    overflow: hidden;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
.dpiR4u{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
.FDn--\+ {
    flex-grow: 1;
    min-height: 1.75rem;
}
.Cve6sh {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
   color: black;
}
.ie3A\+n{
    line-height: 14px;
    font-size: .75rem;
}
.FD2XVZ {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: .25rem;
    height: 1rem;
}
.djt\+SZ{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    align-items: center;
    cursor: default;
    -moz-user-select: none;
    user-select: none;
    padding: .125rem .25rem;
    margin-top: 0;
    margin-bottom: 0;
    height: 1rem;
    box-sizing: border-box;
    line-height: 100%;
    border: .0625rem solid;
    border-radius: .0625rem;
    background-color: initial;
    font-size: .625rem;
    color: #ee4d2d;
}
/* .djt\+SZ:first-child:last-child {
    max-width: 100%;
}
.FD2XVZ>div:only-child {
    flex-shrink: 0;
} */
.hpDKMN {
    padding: .5rem 0 0;
    display: flex;
    height: 1.26rem;
    align-items: center;
    overflow: hidden;
}
.ZZuLsr {
    color: rgba(0,0,0,.54);
    text-decoration: line-through;
    margin-right: 5px;
}
.vioxXd {
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.d5DWld {
    max-width: 100%;
    transition: all .1s cubic-bezier(.4,0,.6,1);
    flex: 0 1 auto;
}
.vioxXd {
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rVLWG6 {
    flex-grow: 1;
    flex-shrink: 0;
    color: #ee4d2d;
    max-width: 100%;
    transition: all .1s cubic-bezier(.4,0,.6,1);
}
.recFju {
    font-size: .75rem;
    color: #ee4d2d;
}
.ZEgDH9 {
    font-size: 1rem;
    color: #ee4d2d;
}
.ZnrnMl {
    display: flex;
    align-items: center;
    height: 1.25rem;
    margin-top: .75rem;
}
.RS7p\+X {
    color: rgba(0,0,0,.26);
    cursor: pointer;
    font-size: .625rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.uEPGHT {
    margin-left: .25rem;
}

.r6HknA {
    color: rgba(0,0,0,.87);
    font-size: .75rem;
    line-height: .875rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.RS7p\+X .shopee-rating-stars {
    position: relative;
    display: inline-block;
}
.RS7p\+X .shopee-rating-stars__stars {
    display: flex;
}
.RS7p\+X .shopee-rating-stars__star-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: -10px;
    font-size: 5px;
}
.RS7p\+X .shopee-rating-stars__star-wrapper>.shopee-rating-stars__lit {
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.RS7p\+X .shopee-rating-stars__gold-star {
    color: #ffce3d;
    left: 0;
    overflow-x: hidden;
}
.uEPGHT {
    margin-left: .25rem;
    color: rgba(0,0,0,.87);
    font-size: .75rem;
    line-height: .875rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.zGGwiV {
    margin-top: .5rem;
    color: rgba(0,0,0,.65);
    font-size: .75rem;
    line-height: 1.125rem;
    min-height: 1em;
    text-align: left;
    font-weight: 200;
}
.shopee-item-card__hover-footer {
    opacity: 0;
    background-color: #ee4d2d;
    color: #fff;
    text-align: center;
    line-height: 1.875rem;
    border: 1px solid #ee4d2d;
    border-bottom-left-radius: .125rem;
    border-bottom-right-radius: .125rem;
    z-index: 1;
}
.tWpFe2 .whIxGK:hover .shopee-item-card__hover-footer {
    opacity: 1;
    transition: opacity .1s;
}
.tWpFe2 .whIxGK:hover {
    border: 1px solid #ee4d2d;
    z-index: 2;
}