.shoppee-top{
    
    background-color: red;
}
.main{
   height: 2.125rem;
  background: transparent;
  position: relative;
  
  
  
  
}
.container {
  display: flex;
  justify-content: space-between;
}

.container a,
.container div,
.container li {
  display: inline-block;
}
  

  
.flex1{
  text-align: center;
 margin-left: 100px;
  
}
.flex2{
 margin-top: auto;
 text-align: center ;
 margin-right: 100px;
 
}
.slider{
  justify-content: space-between;
}
.space{
  margin-left: 0.629rem;
  
}
.space1{
  color: #fff;
    text-decoration: none;
    /* font-size: .8125rem; */
    /* font-weight: 300; */
    padding: 0.25rem;
    position: relative;
    overflow: visible;
    outline: 0;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  
}

.footer a {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.footer img {
  max-width: 100%;
  height: auto;
  width: 50%;
}

.img-slider{
  display: grid;
  grid-template-rows: 1fr; /* Một cột duy nhất */
  grid-gap: 10px; /* Khoảng cách giữa hai ảnh */
  font-size: large;
}
