
.shoppee-top{
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;
    min-width: 1200px;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    transition: transform .2s cubic-bezier(.4,0,.2,1);
}
.main{
   height: 2.125rem;
  background: transparent;
  position: relative;
  min-width: inherit;
  z-index: 400;
  margin-right: 100px;
  
}
.container {
  display: flex;
    align-items: center;
  width: inherit;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.container a,
.container div,
.container li {
  display: inline-block;
}
  

  
.flex1{
  display: flex;
  text-align: center;
 margin-left: 100px;
  
}
.flex2{
  display: flex;
  align-items: center;
  list-style: none;
    padding: 0;
    margin: 0;
    height: 2.125rem;
 
}
.button-search{
  background: linear-gradient(-180deg,#f53d2d,#f63);
}
.space{
  color: #fff;
    text-decoration: none;
    font-size: .9125rem;
    font-weight: 400;
    padding: .25rem;
    position: relative;
    overflow: visible;
    outline: 0;
}
.space2:hover{
  opacity: 0.7;
}

.space:last-child {
  border: 0;
}
.space1:not(:first-child){
  color: #fff;
  margin-left: .625rem;
}
.space1:not(:first-child):after {
  content: "";
  height: .9375rem;
  width: 0;
  border-left: 1px solid hsla(0,0%,100%,.22);
  border-right: 1px solid hsla(0,0%,100%,.22);
  position: absolute;
  left: -6px;
  top: calc(50% - 7px);
}
.shopee-searchbar{
  min-width: inherit;
  background: transparent;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}
.shopee-searchbar-input{
  width: inherit;
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  height: 5.3125rem;
  justify-content: space-between;
  padding: 1rem 0 .625rem;
  margin-right: auto;
    margin-left: auto;
}

.product-shopping{
  border: 1px solid rgba(0,0,0,.09);
  opacity: 1;
  will-change: transform;
    position: absolute;
    z-index: 400!important;
    display: none;
}

.product-shopping-main {
  position: relative;
}

.product-shopping-main:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.product-shopping-main:hover .product-shopping{
  display: block;
}
.product-shopping1{
  z-index: 3;
  position: absolute;
  will-change: transform;
}
.product-shopping1-1{
  position: absolute;
  left: -8px;
  width: 0;
  height: 0;
}
.product-shopping2{
  box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,.2);
  border-radius: .125rem;
  overflow: hidden;
  background-color: #fff;
  width: 25rem;
  
}
.product-shopping2-1{
  text-align: center;
  padding: 3.75rem 0;
  
}
.product-shopping2-1-1{
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 6.25rem;
  height: 6.25rem;
  
}
.product-shopping2-1-2{
  margin-top: 1.25rem;
  text-transform: capitalize;
  
}


.slider{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: hidden;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    
}
.img-slider{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-left: .3125rem;
}
.img-slider1{
  text-decoration: none;
  color: rgba(0,0,0,.87);
  display: block;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  border-radius: .125rem;
  overflow: hidden;
  flex: 1 1 50%;
  background-position: bottom;
}
.img-slider1.full-home-banners__right-banner:first-child {
  border-top-right-radius: 2px;
  overflow: hidden;
}
.img-slider2{
  text-decoration: none;
  color: rgba(0,0,0,.87);
  display: block;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  border-radius: .125rem;
  overflow: hidden;
  flex: 1 1 50%;
  background-position: bottom;
}
.img-slider1-1{
  position: relative;
  height: 100%;
  width: 100%;
}
.img-slider1-1-1{
  opacity: 1;
  /* transition: opacity .2s ease; */
  background-position: bottom;
  vertical-align: bottom;position: absolute;
  width: 100%;
  height: 100%;
}
.img-slider2-1{
  position: relative;
  height: 100%;
  width: 100%;
}

.img-slider2-1-1{
  opacity: 1;
  /* transition: opacity .2s ease; */
  background-position: bottom;
  vertical-align: bottom;position: absolute;
  width: 100%;
  height: 100%;
}


.linktab{
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  width: 1200px;
  margin: 10px auto 0;
  min-height: 108px;
}
.linktabdiv2{
  margin: 18px auto 8px;
  width: 45px;
    height: 45px;
    border-radius: 50%;
}
.linktabdiv3{
  position: relative;
  height: 100%;
  border-radius: 0;
  
}
.linktabdiv5{
  /* display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
    font-size: .8125rem;
    line-height: .875rem;
    max-width: 150px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: pre-line;
    color: #222;
    letter-spacing: 0;
    text-align: center;
}

/* Phần 10/10 Shoppee live */
.youlike2{
  display: flex;
    justify-content: space-between;
    padding: 0 .9375rem;
    min-height: 18.5625rem;
}
.youlike2-1-1{
  display: flex;
    justify-content: space-between;
    padding: 0 .84375rem 0 .9375rem;
    height: 3.75rem;
    box-sizing: border-box;
    align-items: center;
}
.youlike2-1-1-1{
  font-size: 1rem;
    text-transform: uppercase;
    color: #ee4d2d;
    white-space: pre;
}
.youlike2-1-1-2{
  color: #ee4d2d;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    font-size: .75rem;
    align-items: center;
}
.stardust-icon{
  font-size: .5625rem;
  stroke: currentColor;
    fill: currentColor;
    width: 1em;
    height: 1em;
    
}
.youlike2-1-2{
  display: flex;
    height: 14.8125rem;
    overflow: hidden;
    justify-content: center;
}
.youlike2-1-2-1{
  position: relative;
  box-sizing: border-box;
  background: #fff;
  margin-right: .0625rem;
  text-decoration: none;
  text-align: center;
  width: 12.125rem;
  min-height: 14.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .9375rem;
}
.youlike2-1-2-1-1{
  position: relative;
}
.youlike2-1-2-1-2{
  justify-content: center;
    align-items: center;
    display: flex;
    margin-top: .9375rem;
    margin-bottom: .3125rem;
}
.youlike2-1-2-1-3{
  position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.youlike2-1-2-1-1-1{
  width: 10.125rem;
    height: 10.125rem;
    margin: 0 auto;
    display: block;
    background-position: 50%;
    opacity: 1;
    transition: opacity .2s ease;
}
.youlike2-1-2-1-2-1{
  color: #ee4d2d;
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.youlike2-1-2-1-3-1{
  display: block;
    background-color: #ffe97a;
    border-bottom-left-radius: .125rem;
    padding: .125rem .25rem;
    display: block;
    color: #ec3814;
    font-size: .75rem;
    line-height: .875rem;
    font-weight: 500;
}
.youlike2-1-2-1-3-1-1{
  display: block;
  color: #ec3814;
  font-size: .75rem;
  line-height: .875rem;
  font-weight: 500;
}
.img-th{
  width: 8.75rem;
  height: 3.5rem!important;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.14);
  border-radius: 1.90625rem;
  margin: 0 auto;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  left: 1.625rem;
  top: 8.25rem;
}
.img-tha{
  width: auto;
    height: 100%;
    transform: translateZ(0);
    z-index: 2;
}


/* DANH MỤC home-category-list */
.home-category-list{
  min-height: 18.875rem;
    margin-top: 1.25rem;
    background-color: #fff;
    /* height: 302px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start; */
}
.shopee-header{
  background: #fff;
  height: 3.75rem;
  border-bottom: 1px solid rgba(0,0,0,.05);
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
}
.shopee-header-title{
  font-size: 1rem;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    text-transform: uppercase;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1.25rem;
}
.image-carouse{
  width: 100%;
  height: 100%;
  position: relative;
}
.image-carouse_item-list-wrapper{
  height: 100%;
  overflow: hidden;
  touch-action: pan-y;
}
.image-carouse_item-list{
  height: 302px;
  
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  
  padding: 0;
  margin: 0;
  width: 135%;
    transform: translate(0px, 0px);
    transition: all 500ms ease 0s;
}
.image-carouse_item{
  float: none;
  height: 151px;
  width: 120px!important;
  overflow-x: unset!important;
  
    list-style: none;
    
    touch-action: pan-y;
    padding: 0px;
    overflow-x: hidden;
    width: 5%;
     float: left;
}
.home-category-list_grid{
  text-decoration: none;
  color: rgba(0,0,0,.87);
  border-right: 1px solid rgba(0,0,0,.05);
  border-bottom: 1px solid rgba(0,0,0,.05);
  text-align: center;
  background-color: #fff;
  display: block;
  position: relative;
  transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1);
  flex-basis: 50%;
}

.home-category-list_grid::before{
  content: "";
    display: block;
    padding-top: 126%;
}
.grid1{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid2{
  flex-shrink: 1;
  /* width: 70%; */
  height: 70%;
  margin-top: 10%;
}
.grid3{
  height: 100%;
  position: relative;
}
.grid4{
  opacity: 1; 
 transition: opacity .2s ease;
  height: 100%;
}
/* Flash sale */

.sale-header{

}
.sale-header-1{

}
.sale-header-1-1{

}
.sale-header-1-2{
  
}
.img-flash-sale{
  width: 8.125rem;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-size: contain;
}
/*  */
/* Shopee mall */
/* Tìm kiếm hàng đầu */
/* Gợi ý hôm nay */

/* Footer */
.footer{
  min-width: 75rem;
  border-top: 4px solid #ee4d2d;
  background-color: #fff;
  color: rgba(0,0,0,.54);
  border-top-color: var(--brand-primary-color);
}
/* Shopee gì cũng có  */
/* Danh mục */
/* Chăm sóc khách hàng */
.footer-navigation{
  background-color: #fbfbfb;
}
.customer-care{
  width: 75rem;
  margin: auto;
}
.customer-care1{
  display: flex;
  margin: 0 -.3125rem;
  padding: .3125rem;
  width: 100%;
  min-width: 1200px;
  align-items: flex-start;
}
.customer-care1-1{
  width: 15.625rem;
  padding: .3125rem;
  box-sizing: border-box;
}
.customer-care1-1-1{
  font-size: .75rem;
  font-weight: 700;
  color: rgba(0,0,0,.87);
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
}
.customer-care1-1-2{
  text-decoration: none;
  display: block;
  color: rgba(0,0,0,.65);
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0;
}
.customer-care1-1-2-1{
  font-size: .75rem;
  margin-bottom: .75rem;
  display: flex;
}
.customer-care1-1-2-1-1{
  text-decoration: none;
  color: rgba(0,0,0,.65);
  overflow: hidden;
}
.customer-care1-1-2-1-1-1{
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.customer-thanhtoan1{
  font-size: .75rem;
  font-weight: 700;
  color: rgba(0,0,0,.87);
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
}
.customer-thanhtoan2{
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem;
  flex-wrap: wrap;
  display: flex;
}
.customer-thanhtoan2-1{
  width: 3.75rem;
  height: 1.875rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
  padding: .25rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: .125rem;
  justify-content: center;
  display: flex;
  text-decoration: none;
  background-color: initial;
}
.customer-thanhtoan2-1-1{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  background-color: initial;
}
.customer-thanhtoan2-1-1 img{
  max-height: 100%;
  max-width: 100%;
}
.customer-thanhtoan3{
  font-size: .75rem;
    font-weight: 700;
    color: rgba(0,0,0,.87);
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
    margin-top: 0;
}
.footer-linkweb{
  text-decoration: none;
  display: block;
  color: rgba(0,0,0,.65);
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0;
}
.footer-linkweb1{
  font-size: .75rem;
  margin-bottom: .75rem;
  display: flex;
}
.footer-linkweb1-1{
  text-decoration: none;
  color: rgba(0,0,0,.65);
  overflow: hidden;
  display: flex;
}
.footer-linkweb1-1-1{
  height: 1rem;
  width: 1rem;
  margin-right: .5rem;
}
.footer-linkweb1-1-2{
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footer-dowload{
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}
.footer-dowload1{

}
.footer-dowload1-1{
  height: 5rem;
  width: 5rem;
  margin-right: .75rem;
  padding: .25rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  border-radius: 2px;
  border: 0;
}
.footer-dowload2{
  width: 4.75rem;
  display: inline-block;
  vertical-align: top;
}
.footer-dowload2-1{
  width: 4.25rem;
  height: 1rem;
  margin-bottom: .5rem;
  padding: .25rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  border-radius: 2px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.footer-dowload2-1-1{
  max-height: 100%;
    max-width: 100%;
    border: 0;
}
.hoverr:hover{
  color: #ee4d2d;
}


.customer-care2{
  justify-content: space-between;
  color: rgba(0,0,0,.54);
  padding: 2.5rem 0;
  border-top: 1px solid rgba(0,0,0,.1);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 14.5px;
}

.customer-care2-1-1{
  flex-shrink: 0;
  margin-right: 25px;
  line-height: 1.125rem;
}
.customer-care2-2{
  justify-content: center;
  display: flex;
    flex-wrap: wrap;
}


.customer-care2-2-1-1{
  flex: 1 0 auto;
    text-align: right;
    line-height: 1.125rem;
}
.customer-care2-2-2{
  padding: 0 5px;
  margin-top: -1.5px;
}
.customer-care2-2-2:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.2);
}
.customer-care2-2-2-1{
  text-decoration: none;
  color: rgba(0,0,0,.54);
  line-height: 1.125rem;
}


.policys{
  font-size: .75rem;
  color: rgba(0,0,0,.65);
  padding: 2.625rem 0 2.3125rem;
  background: #f5f5f5;
}
.policy{
  width: 75rem;
  margin: 0 auto;
}
.list-policy{
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.list-policy1{
  padding: 0 1.5625rem;
  border-right: 1px solid rgba(0,0,0,.09);
  text-transform: uppercase;
  font-size: .75rem;
}
.list-policy1-1{
  text-decoration: none;
  display: block;
  color: rgba(0,0,0,.54);
}

.img-footer{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.img-footer1{
  text-decoration: none;
  color: rgba(0,0,0,.8);
  margin: 0 1.25rem;
}
.img-footer1-1{
  width: 7.5rem;
  height: 2.8125rem;
  background-size: 551.6666666666666% 477.77777777777777%;
  background-position: 14.391143911439114% 99.41176470588235%;
}
.img-footer1-2{
  width: 3rem;
  height: 3rem;
  background-size: 1379.1666666666667% 447.9166666666667%;
  background-position: 1.6286644951140066% 92.21556886227545%;
}