.product-page{
    transition: margin-top .3s cubic-bezier(.4,0,.2,1);
    -webkit-overflow-scrolling: touch;
}
.product-page-contents{
    min-height: 100vh;
}
.product-page-contents-container{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    margin-top: 1.25rem;
    display: flex;

}
.product-page-contents-container-filter-panel{
    flex: 0 0 11.875rem;
    min-width: 0;
    margin: 0 1.25rem 1.25rem 0;
}
.page-contents-container-filter-status{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    color: rgba(0,0,0,.8);
    height: 1.875rem;
    font-weight: 700;
    font-size: 1rem;
}
.shopee-svg-icon{
    font-size: .75rem;
    margin-right: .625rem;
    stroke: currentColor;
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    color: rgba(0,0,0,.8);
    height: 1.875rem;
    font-weight: 700;

}
.shopee-search-filter-status__text{
    font-weight: inherit;
    font-size: inherit;
    flex: 1;
}
.shopee-filter-group{
    padding: 0 0 1.25rem;
    margin: 1.25rem 0 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.09);
    align-items: flex-start;
    padding: 0.25rem 0;
}
.shopee-filter-group__header{
    margin-bottom: 0.625rem;
    font-weight: 500;
    border: 0;
    margin: 0;
}
.shopee-filter {
    align-items: flex-start;
    padding: 0.25rem 0;
}
.shopee-checkbox-filter{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.shopee-checkbox{
    overflow: hidden;
    cursor: pointer;
    /* -webkit-user-select: none; */
    -moz-user-select: none;
    user-select: none;
    display: flex;
    /* align-items: center; */
    padding: 0.25rem 0;
    align-items: flex-start;
    font-size: .875rem;
    color: rgba(0,0,0,.8);
}
.shopee-checkbox__box{
    position: relative;
    margin-right: 0.625rem;
}
.shopee-checkbox__label{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1rem;
    max-height: 3rem;
    word-wrap: break-word;
}
.shopee-filter-group__toggle-btn{
    border: 0;
    background-color: unset;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.625rem 0.5rem 1.25rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: none;
    color: inherit;
    font: inherit;
    margin: 0;
}
.shopee-header-section__header__title{
    font-size: 1rem;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    text-transform: uppercase;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1.25rem;
}
.shopee-button-no-outline{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    color:#ee4d2d;
    position: relative;
    overflow: visible;
    outline: 0;
    padding: 0.3125rem 0.4375rem;
    background-color: initial;
    border: 0;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    justify-content: center;
}
.shopee-search-user-item{

    cursor: pointer;
    user-select: none;
    position: relative;
    background-color: #fff;
    height: 7.5rem;
    padding: 0 1.5625rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 0.125rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0,0,0,.87);
}
.shopee-search-user-item__leading{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    position: relative;
}
.shopee-avatar{
    width: 4.375rem;
    height: 4.375rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 0.0625rem solid rgba(0,0,0,.09);
    box-sizing: border-box;
}
.shopee-avatar__placeholder{
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}
.shopee-avatar__placeholder .icon-headshot{
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
}
.shopee-avatar__img-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.shopee-avatar__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.shopee-avatar__img_1{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopee-avatar__img_1 .icon-headshot{
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
}
.shopee-search-user-item__shop-info{
    flex: 1;
    overflow: hidden;
    padding: 0 1.25rem 0 0.625rem;
    cursor: pointer;
    text-decoration: none;
    color: rgba(0,0,0,.87);
}
.shopee-search-user-item__nickname{
    color: rgba(0,0,0,.8);
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.125rem;
    font-weight: 500;
}
.shopee-search-user-item__username{
    font-size: .875rem;
    color: rgba(0,0,0,.8);
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.shopee-search-user-item__follow-count{
    color: rgba(0,0,0,.54);
    margin-top: 0.3125rem;
    text-transform: capitalize;
    font-size: .75rem;
    white-space: nowrap;
}
.shopee-search-user-item__follow-count-number{
    color: #ee4d2d;
    
}